<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Speedlify - Essent&energiedirect.nl</title>
		<meta name="description" content="Benchmark web pages over time.">
		<link rel="stylesheet" href="{{ '/style.css' | url }}">
		<script>
		document.documentElement.classList.add("js");
		</script>

		<link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
		<link rel="icon" href="/img/favicon.ico" type="image/x-icon"/>

		<link rel="manifest" href="/img/site.webmanifest">
		<link rel="mask-icon" href="/img/safari-pinned-tab.svg" color="#5bbad5">
		<meta name="msapplication-TileColor" content="#da532c">
		<meta name="theme-color" content="#ffffff">
	</head>
	<body>
 

 <div>
		<h1  class="speedlify-hed">
 
		
		<a href="{{ '/' | url }}">	

		Testing Large Media more more
				<img class="logo" src="/images/safari-pinned-tab.svg"/>performance dashboard</a> {% if vertical %} : {{ sites[vertical].name or "websites" }}{% endif %}</h1>


</div>

		<p class="speedlify-subhed">
			Benchmark {{ sites[vertical].description or "websites en pagina's" }} in de tijd.
			{%- if maxResults %}
				Updates <em>elke maandag en donderdag</em>. <br>Alleen de laatste {{ maxResults }} resultaten (en het oudste resultaat) worden getoond.
				<br><br><strong>Benchmark</strong> : alleen bruikbaar ter vergelijking. De waardes zijn geen uitspraak over snelheid, maar over de voorwaarden voor performance.<br>
				<strong>Tip</strong> : kijk of je bij de html, js, css, afbeeldingen, lettertypes of externe scripts veranderingen ziet. Dan is er meestal iets gaande....
			{% endif %}
			
		</p>
		 

		{{ content | safe }}

		
 


<style>
#main {display: flex; flex-direction: row;  justify-content: center; grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));  grid-gap:8px;}

.uitleg {border: solid 1px white; padding:10px;  margin-bottom:8px; }

.logo {width:80px; height:80px;vertical-align: text-top;margin-right:5px;}
.light {
	max-width:340px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


@media screen and (max-width: 575px) {
  #main {
    flex-direction: column;
  }

  .logo {width:40px;height:40px;}
}
</style>
<div style="clear:left;"></div>
 <h2 style=" text-align:center;"> <a name="uitleg"></a>Uitleg verschillende metrics van Lighthouse:</h2>
 <div id="main" style=" width:90%;  text-align:center;  margin: auto;">
 
<div style="display: flex-inline; flex-direction: column;  flex-basis: 80%;  flex: 1;   ">
			<div class="uitleg">
				<img alt="Cumulative-layout-Shift" class="light" src="/images/Lighthouse-Cumulative-layout-Shift.png" style="width:100% "/>
				<br>
				Elementen die een visuele verschuiving van de elementen op de pagina veroorzaken. Images zonder afmetingen, scripts die content injecteren.
			</div>
			<div class="uitleg results-series-d">
				<img alt="First-Contentful-paint" class="light" src="/images/Lighthouse-First-Contentful-paint.png"/>
				<br>
				Hoe lang het duurt voordat het eerste element zichtbaar is.
			</div>
	
		</div>
<div style="display: flex-inline; flex-direction: column;  flex-basis: 80%;  flex: 1;   grid-column-gap:8px;">
		 		<div class="uitleg results-series-a">
				 	<img alt="Largest-Contentful-paint" class="light" src="/images/Lighthouse-Largest-Contentful-paint.png"/>
					 <br>Hoe lang het duurt voordat de grootste afbeelding of grootste tekstblok zichtbaar is. 
				</div>
				<div class="uitleg results-series-e">
					<img alt="Speed-index" class="light" src="/images/Lighthouse-Speed-index.png"/>
					<br>
					Hoe snel verschillende elementen op de pagina ingeladen worden.
				</div>
			</div>

<div style="display: flex-inline; flex-direction: column;  flex-basis: 80%;  flex: 1;     grid-column-gap:8px; ">
		 
				<div class="uitleg results-series-f">
					<img alt="Time-to-Interactive" class="light" src="/images/Lighthouse-Time-to-Interactive.png"/>
					<br>
					Hoe lang het duurt voordat de pagina volledig interactief is.<br><br>
					 
				</div>
				<div class="uitleg results-series-c">
					<img alt="Total-Blocking-Time" class="light" src="/images/Lighthouse-Total-Blocking-Time2.png"/>
					<br>
					De opgetelde tijd waarin scripts de interactiviteit blokkeren.
				</div>
			</div>

 </div>
  <h2 style=" text-align:center;"> Weging verschillende onderdelen in totaalscore Lighthouse:</h2>

<div style="width:100%;  text-align:center;> 
		<div class="uitleg"><img src="/img/lighthouse-score.png"/>
		
		<br><br><br>
		 <h2 style=" text-align:center;">Core Web Vitals</h2> 
		 <div>volgens Google de belangrijkste performance metrics (in 2020): </div>
		<ul style="list-style-type:none;"> 
			<li>👉 LCP - <a href="https://web.dev/optimize-lcp/" target="_blank">optimaliseer tips</a></li> 
			<li>👉 FID(TBT) - <a href="https://web.dev/optimize-fid/" target="_blank">optimaliseer tips</a></li>
			<li>👉 CLS - <a href="https://web.dev/optimize-cls/" target="_blank">optimaliseer tips</a></li>
			</ul>
		</div>

		
</div>

		<footer class="footer">
			<div class="zachl">
					<a href="/" style="font-size:15px;color:gray;font-style:normal;">home</a><br><br>

			MIT licensed. Read <a href="https://www.zachleat.com/web/speedlify/">the blog post</a>. Source code on <a href="https://github.com/zachleat/speedlify/">GitHub</a>. Created by <a href="https://www.zachleat.com/">@zachleat</a>.
			<br>samengesteld door jan-willem</div>
		</footer>

		<script defer src="{{ '/chartist.js' | url }}"></script>
		<script defer src="{{ '/script.js' | url }}"></script>
	</body>
</html>