<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Speedlify - Essent&energiedirect.nl</title>
		<meta name="description" content="Benchmark web pages over time.">
		<link rel="stylesheet" href="{{ '/style.css' | url }}">
		<script>
		document.documentElement.classList.add("js");
		</script>

		<link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
		<link rel="icon" href="/img/favicon.ico" type="image/x-icon"/>

		<link rel="manifest" href="/img/site.webmanifest">
		<link rel="mask-icon" href="/img/safari-pinned-tab.svg" color="#5bbad5">
		<meta name="msapplication-TileColor" content="#da532c">
		<meta name="theme-color" content="#ffffff">
	</head>
	<body>
		<h1 class="speedlify-hed"><a href="{{ '/' | url }}">performance dashboard</a> {% if vertical %} : {{ sites[vertical].name or "websites" }}{% endif %}</h1>
		<p class="speedlify-subhed">
			Benchmark {{ sites[vertical].description or "web pages" }} in de tijd.
			{%- if maxResults %}
				Updates <em>vrijwel</em> elke dag. <br>Alleen de laatste {{ maxResults }} resultaten (en het oudste resultaat) worden getoond.
				<br>Benchmark : alleen bruikbaar ter vergelijking. De waardes zijn geen uitspraak over snelheid, maar over de voorwaarden voor performance.<br>
				Tip : kijk of je bij de html, js, css, afbeeldingen, lettertypes of externe scripts veranderingen ziet. Dan is er meestal iets gaande....
			{% endif %}
			
		</p>
		 

		{{ content | safe }}

<style>
#main {display: flex; flex-direction: row;  justify-content: center;border: solid 1px white;}
.uitleg {border: solid 1px white; padding:10px;}

@media screen and (max-width: 575px) {
  #main {
    flex-direction: column;
  }
}
</style>
 <h2 style=" text-align:center;"> Uitleg verschillende metrics van Lighthouse:</h2>
 <div id="main" style="width:75%;   text-align:center;  margin: auto;">
 
<div style="display: flex-inline; flex-direction: column;  flex-basis: 80%;  flex: 1; ">
			<div class="uitleg"><img src="/img/lighthouse/Lighthouse-Cumulative-layout-Shift.png" style=" "/></div>
			<div class="uitleg results-series-d"><img src="/img/lighthouse/Lighthouse-First-Contentful-paint.png"/></div>
	
		</div>
		<div style="display: flex; flex-direction: column; flex-basis: 100%;  flex: 1;">
		 		<div class="uitleg results-series-a"><img src="/img/lighthouse/Lighthouse-Largest-Contentful-paint.png"/></div>
				<div class="uitleg results-series-e"><img src="/img/lighthouse/Lighthouse-Speed-index.png"/></div>
			</div>

		<div style="display: flex; flex-direction: column; flex-basis: 100%;  flex: 1;">
		 
				<div class="uitleg results-series-f"><img src="/img/lighthouse/Lighthouse-Time-to-Interactive.png"/></div>
				<div class="uitleg results-series-c"><img src="/img/lighthouse/Lighthouse-Total-Blocking-Time.png"/></div>
			</div>

 </div>
  <h2 style=" text-align:center;"> Weging verschillende onderdelen in totaalscore Lighthouse:</h2>

<div style="width:100%;  text-align:center;> 
		<div class="uitleg"><img src="/img/lighthouse/lighthouse-score.png"/></div>
</div>

		<footer class="footer">
			<div class="zachl">
			MIT licensed. Read <a href="https://www.zachleat.com/web/speedlify/">the blog post</a>. Source code on <a href="https://github.com/zachleat/speedlify/">GitHub</a>. Created by <a href="https://www.zachleat.com/">@zachleat</a>.
			<br>samengesteld door jan-willem</div>
		</footer>

		<script defer src="{{ '/chartist.js' | url }}"></script>
		<script defer src="{{ '/script.js' | url }}"></script>
	</body>
</html>