<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Speedlify</title>
		<meta name="description" content="Benchmark web pages over time.">
		<link rel="stylesheet" href="{{ '/style.css' | url }}">
		<script>
		document.documentElement.classList.add("js");
		</script>
	</head>
	<body>
		<h1 class="speedlify-hed"><a href="{{ '/' | url }}">performance dashboard</a> {% if vertical %} : {{ sites[vertical].name or "web pages" }}{% endif %}</h1>
		<p class="speedlify-subhed">
			Benchmark {{ sites[vertical].description or "web pages" }} in de tijd.
			{%- if maxResults %}
				Updates <em>vrijwel</em> elke dag. Alleen de laatste {{ maxResults }} resultaten{% if maxResults != 1 %}s{% endif %} (en het oudste resultaat) worden getoond.
				<br>Benchmark : alleen bruikbaar ter vergelijking. De waardes zijn uitspraak over snelheid, maar over de voorwaarden voor performance.
			{% endif %}
			
		</p>
		 

		{{ content | safe }}

		<footer class="footer">
			<div class="zachl">
			MIT licensed. Read <a href="https://www.zachleat.com/web/speedlify/">the blog post</a>. Source code on <a href="https://github.com/zachleat/speedlify/">GitHub</a>. Created by <a href="https://www.zachleat.com/">@zachleat</a>.
			</div>
		</footer>

		<script defer src="{{ '/chartist.js' | url }}"></script>
		<script defer src="{{ '/script.js' | url }}"></script>
	</body>
</html>